#!/bin/bash
sleep 5
xrandr -o right
xrandr --newmode "600x950_60.00" 46.75 600 640 696 792 950 953 963 986 -hsync +vsync
xrandr --addmode eDP-1 "600x950_60.00"
xrandr --output eDP-1 --mode 600x950_60.00
# xinput set-prop 15 'Coordinate Transformation Matrix' 0 1 0 -1 0 1 0 0 1

xinput set-prop 15 --type=float "Coordinate Transformation Matrix" 0 1 0 -1 0 1 0 0 1
xinput set-prop 15 "Evdev Axis Inversion" 0 0
xinput set-prop 15 "Evdev Axes Swap" 0