#!/bin/bash
sleep 1
xrandr -o right 1>> /tmp/init_external_monitor_resol.log 2>&1
xrandr --newmode "600x950_60.00" 46.75 600 640 696 792 950 953 963 986 -hsync +vsync 1>> /tmp/init_external_monitor_resol.log 2>&1
xrandr --addmode eDP-1 "600x950_60.00" 1>> /tmp/init_external_monitor_resol.log 2>&1
xrandr --output eDP-1 --mode 600x950_60.00 1>> /tmp/init_external_monitor_resol.log 2>&1
xinput set-prop 15 --type=float "Coordinate Transformation Matrix" 0 1 0 -1 0 1 0 0 1 1>> /tmp/init_external_monitor_resol.log 2>&1